body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.container {
	display: flex;
	flex-direction:  column;
	width:  80vh;
	height:  80vh;
	padding: 10px
}

div.row {
	background-color: white;
	display:  flex;
	flex: 1;
	justify-content: space-between;
	align-content: space-between;	
}

div.cell {
	background-color: white;
	flex:  1;	
	margin: 0;
	border:  solid 0.5px darkgray;
}

div.cell.hovered {
	background-color: blue;
}